
{% extends "M1MagAppBundle::layout_Magasinier.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}


<h3>Détails du panier</h3>
  
  <h4>Client</h4>
  <ul>
    
    <li> Nom:  </li>
    <li> Prenom: </li>
  </ul>

<h4>Commandes</h4>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	<th>Produit</th>
	<th>Référence</th>
  <th>Prix</th>
	<th>Quantité</th>

	{% for commande in Commandes %}
       <tr>
            <td>  {{ commande.produit.nom}}    </td>
            <td> {{ commande.produit.reference }} </td>
            <td> {{ commande.produit.prix }} </td>
            <td> {{ commande.quantite }} </td>
       </tr>
    {% endfor %}

  </table>



<br/>
 Pour revenir à list des paniers<a href="{{ path('list_panier')}}"> ici </a>


{% endblock %}

