
{% extends "M1MagAppBundle::layout_Magasinier.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}


<h3>Ajouter une catégorie</h3>

  
{{ form_start(form) }}

{{ form_errors(form) }}

    {{ form_widget(form) }}

 {{ form_widget(form.save) }}

{{ form_end(form) }}

<br/>
 Pour revenir à l'ajout de Produit cliquer <a href="{{ path('add_prod')}}">ici</a>


{% endblock %}