{% extends "M1MagAppBundle::layout_Magasinier.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

<h3>Listes des paniers</h3>

<table >
	<th>Description</th>
	<th>Nom</th>
	<th>Prenom</th>
	<th>Etat</th>
	<th>Validé</th>
  <th>Description</th>

	{% for panier in paniers %}
       <tr>
            <td> {{ panier.description }}   </td>
            <td> {{ panier.utilisateur.nom }} </td>
            <td> {{ panier.utilisateur.prenom }} </td>
            <td> {{ panier.etat }} </td>
            <td> <a href="{{ path('valide_panier', {'id': panier.id}) }}"> Validé </a> </td>
            <td> <a href="{{ path('details_panier', {'id': panier.id}) }}"> Détails </a> </td>
       </tr>
    {% endfor %}

  </table>

{% endblock %}