{% extends "M1MagAppBundle::layout_Magasinier.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

	<h3> Rechercher un produit </h3>
      
{{ form_start(form) }}

{{ form_errors(form) }}

    {{ form_widget(form) }}

 {{ form_widget(form.save) }}

{{ form_end(form) }}
	<hr/>

 <div ng-app = "mainApp" ng-controller = "produitController">
	<h3> Produit du stock </h3>

{% if produits is not empty %}
	<table>


	{% for produit in produits %}
       <tr>

       <td> <!--img src="{{ asset('uploads/img/ae.jpg') }}" alt="{{produit.image.alt }}" /-->
         <img src="{{ asset(produit.image.url) | imagine_filter('xs_thumb') }}" alt="{{ produit.image.alt }}" />
          {{ produit.nom }}
         {{ produit.prix }}
         {{ produit.quantite }}
         {{ produit.categorie.libelleCategorie }}
       </td>
       </tr>
    {% endfor %}

    </table>

{% else %}
   
  <h4>Pas de résultat</h4>

{% endif %}

 </div>

{% endblock %}