{% extends "M1MagAppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

	<h3> Rechercher un produit </h3>
      
{{ form_start(form) }}

{{ form_errors(form) }}

    {{ form_widget(form) }}

 {{ form_widget(form.save) }}

{{ form_end(form) }}
	<hr/>

 <div ng-app = "mainApp" ng-controller = "produitController">
	<h3> Produit du stock </h3>

{% if produits is not empty %}
	<table>


	{% for produit in produits %}
       <tr>
            <td> {{ produit.nom }}   </td>
            <td> {{ produit.prix }} </td>
            <td> {{ produit.quantite }} </td>
            <td> {{ produit.categorie.libelleCategorie }} </td>

       <td> <!--img src="{{ asset('uploads/img/ae.jpg') }}" alt="{{produit.image.alt }}" /-->
         <img src="{{ asset(produit.image.url) }}" alt="{{ produit.image.alt }}" />
       </td>
       </tr>
    {% endfor %}

    </table>

{% else %}
   
  <h4>Pas de résultat</h4>

{% endif %}

 </div>

  <script>


// Récupération des variables définies dans le service js_vars
var JsVars = jQuery('#js-vars').data('vars');

// Récuperer une variable
var chartData = JsVars.chartData;

console.log(chartData);
/*

Sortie :

[['hour', 'temperature'], [8, 8.5], ...]

*/


         var mainApp = angular.module("mainApp", []);
         var awesome = angular.module('awesome', []);

awesome.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('||');
    $interpolateProvider.endSymbol('||');
});
         mainApp.controller('produitController', function($scope) {
            $scope.student = {
               firstName: "Mahesh",
               lastName: "Parashar",
               fees:500,
               
               subjects:[
                  {name:'Physics',marks:70},
                  {name:'Chemistry',marks:80},
                  {name:'Math',marks:65}
               ],
               
     
            };
         });
      </script>

{% endblock %}