{% extends "M1MagAppBundle::layout_Magasinier.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

	<h3> Rechercher un produit </h3>
      
{{ form_start(form) }}

{{ form_errors(form) }}

    {{ form_widget(form) }}

 {{ form_widget(form.save) }}

{{ form_end(form) }}
	<hr/>

	<h3> Produit du stock </h3>

{% if produits is not empty %}
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
<thead>
    <th>Nom</th>
  <th>Référence</th>
  <th>Quantité </th>
  <th>Action</th>
</thead>
	{% for produit in produits %}
<tr>
       <!--img src="{{ asset('uploads/img/ae.jpg') }}" alt="{{produit.image.alt }}" /-->
         <!--img src="{{ asset(produit.image.url) | imagine_filter('xs_thumb') }}" alt="{{ produit.image.alt }}" /-->
         <td>  {{ produit.nom }} </td>
         <td> {{ produit.reference }} </td>
         <td> {{ produit.quantite }} </td>
         <td><a href="{{ path('update_stock', {'id': produit.id}) }}"> Alimenter le stock </a> </td>
       </td>
 </tr>      
    {% endfor %}

    </table>

<br>
    <a href="{{ path('download') }}" class="btn btn-info" role="button"> Télécharger </a> 

    <br> <br> 

{% else %}
   
  <h4>Pas de résultat</h4>

{% endif %}

 </div>

{% endblock %}