{# src/M1/MagAppBundle/Resources/views/Produit/index.html.twig #}
{% extends 'M1MagAppBundle::Produit/base.html.twig' %}

{% block body %}
Liste de Produits

{% if is_granted ('IS_AUTHENTICATED_FULLY') %}
<a href="/logout">Deconnecter</a>

{% else  %}
    <a href="/login">Connecter</a>

{% endif %}

<a href="/MonPanier" style="color: #0000F0">Voir Mon Panier</a>
<a href="{{ path('m1_mag_app_listecommandepage')}}" style="color: #AA3333">Voir Mes Commandes</a>

<br></br>
<br></br>

    <div class="card mb-3">
        <h3 class="card-header">Card header</h3>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>

    <button type="button" class="btn btn-primary">Primary</button>

{{ form_start(form) }}
{{ form_errors(form) }}


    <table>
        <tr>
            <td>
                <select name="categorie">
                    <option value="Tous">Tous nos catégorie </option>

                    {% for categorie in Categories %}
                        <option value="{{ categorie.id }}">{{ categorie.LibelleCategorie }}</option>
                    {% endfor %}

                </select>
            </td>
            <td>
                {{ form_label(form.nom, "") }}
                {{ form_widget(form.nom, {'attr': {'class': 'input'}}) }}            </td>
            <td>
                {{ form_label(form.submit, "Recherche") }}
                {{ form_widget(form.submit, {'attr': {'class': 'input'}}) }}
            </td>
        </tr>
    </table>

    {{ form_end(form) }}

<table  cellspacing="50" >
    <tr>

    {% for p in Produit %}
<td width="10" height="20">
    {{ p.nom }}

    <a href="{{ path('m1_mag_app_detailpage', { 'ref':p.id})  }}">
    <img src="http://i2.cdscdn.com/pdt2/3/7/1/1/700x700/del5397063620371/rw/dell-disque-dur-externe-2to-usb-3-0.jpg" height="300" >
    </a>

    {{ p.prix }} euros
    <a href="{{ path('m1_mag_app_ajouterpanierpage',{'ref':p.id}) }}"><button> Ajouter au panier</button></a>

</td>

{% endfor %}
    </tr>

</table>
{% endblock %}