{# src/M1/MagAppBundle/Resources/views/Produit/index.html.twig #}
{% extends 'M1MagAppBundle::Produit/base.html.twig' %}

{% block body %}

    <div id="content">
    <div class="container">
    <div class="col-md-9" id="wishlist">


    <div class="row products">
    {% for p in Produit %}

        <div class="col-md-3 col-sm-4">
            <div class="product">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <a href="detail.html">
                                <img src="{{ asset(p.image.url) }}" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="back">
                            <a href="{{ path('m1_mag_app_detailpage', { 'ref':p.id})  }}" >
                                <img src="{{ asset(p.image.url) }}" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <a href="{{ path('m1_mag_app_detailpage', { 'ref':p.id})  }}" class="invisible">
                    <img src="img/product1.jpg" alt="" class="img-responsive">
                </a>
                <div class="text">
                    <h3><a href="{{ path('m1_mag_app_detailpage', { 'ref':p.id})  }}"> {{ p.nom }}</a></h3>
                    <p class="price">€ {{ p.prix }}</p>
                    <p class="buttons">
                        <a href="{{ path('m1_mag_app_detailpage', { 'ref':p.id})  }}" class="btn btn-default">Voir detail</a>
                        <a href="{{ path('m1_mag_app_ajouterpanierpage',{'ref':p.id}) }}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Ajouter au Panier</a>
                    </p>
                </div>
                <!-- /.text -->
    </div>
    <!-- /.product -->
    </div>

    {% endfor %}
    </div>
    <!-- /.products -->
    </div>
    </div>
    </div>



{% endblock %}
