
{% extends 'M1MagAppBundle::Produit/base.html.twig' %}

{% block body %}

    <div id="all">

    <div id="content">
        <div class="container">



            <div class="col-md-3">
                <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Menu Actuelle</h3>
                    </div>

                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a href="customer-orders.html"><i class="fa fa-list"></i> Mes Commandes</a>
                            </li>

                        </ul>
                    </div>

                </div>
                <!-- /.col-md-3 -->

                <!-- *** CUSTOMER MENU END *** -->
            </div>

            <div class="col-md-9" id="customer-orders">
                <div class="box">
                    <h1>My orders</h1>

                    <p class="lead">Your orders on one place.</p>
                    <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>

                    <hr>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>

                            <tr>
                                <th>Date</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for paniercommande in PaniersCommandes %}
                                {% for pcommande in paniercommande.PanierCommande   %}
                                    {% set prixtotalpanier =0 %}

                                    {% for commande in pcommande.Commandes   %}
                                        {% set prixtotalpanier = prixtotalpanier +((commande.quantite) * (commande.produit.prix)) %}

                                                {% endfor %}

                                    {% set color ='' %}
                                    {% set etat ='' %}

                                    {% if pcommande.Panier.etat=='valider'%}
                                        {% set color ='label label-info' %}
                                        {% set etat='En cour de traitement' %}

                                    {% elseif pcommande.Panier.etat=='non-traité'%}
                                        {% set color ='yellow' %}
                                        {% set etat='label label-danger' %}

                                    {% elseif pcommande.Panier.etat=='traité'%}
                                        {% set color ='label label-success ' %}

                                        {% set etat='Traité' %}

                                    {% endif %}

                            <tr>
                                <td>{{  pcommande.Panier.datehorairevalide.date }}</td>
                                <td>{{  prixtotalpanier }}</td>
                                <td><span class="label label-info">

                                        {{ etat }}

                                    </span>
                                </td>
                                <td><a href="{{ path('m1_mag_app_commandepage' ,{'id':pcommande.Panier.id}) }}" class="btn btn-primary btn-sm">View</a>
                                </td>
                            </tr>
                                {% endfor %}

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->











<h1>Liste de Commandes</h1>

    <form action="post">

        <select id="choice" name="choix">
            <option value="30 Dernier jour">30 Dernier jour </option>
            <option value="6 Dernier mois">6 Dernier mois</option>
            {% for anne in Annes %}

                <option value="{{ anne }}">{{ anne }}</option>
                {% endfor %}
        </select>
        <button type="submit" name="search" >Recherche</button>


    </form>
    {{ dump(PaniersCommandes) }}

    <table cellpadding="30">
    {% for paniercommande in PaniersCommandes %}


        {% for pcommande in paniercommande.PanierCommande   %}
            {% for commande in pcommande.Commandes   %}
                {% set color ='' %}
                {% if commande.etat=='traité'%}
                    {% set color ='#2E9AFE' %}
                    {% elseif commande.etat=='non-traité'%}
                        {% set color ='yellow' %}
                    {% elseif commande.etat=='Initial'%}
                        {% set color ='green' %}

                {% endif %}
                <tr bgcolor="{{ color }}">
                    <td>
                        {{ commande.etat }}
                        <img src="http://i2.cdscdn.com/pdt2/3/7/1/1/700x700/del5397063620371/rw/dell-disque-dur-externe-2to-usb-3-0.jpg" height="100" >
                    </td>
                    <td>
                        <h3 style="color: #0000F0">{{ commande.produit.nom }}</h3>
                        <h3>{{ commande.produit.details }}</h3>
                {% if commande.etat!='non-traité'%}
                    <h5 > Quantite :{{ commande.quantite}}</h5>

                    <h5 style="color:red"> EUR {{ commande.produit.prix * commande.quantite}}</h5>
                {% endif %}


                    </td>
                    <td>
                        {%  if ( commande.produit.quantite > 1) %}
                        <a href="{{ path('m1_mag_app_ajouterpanierpage',{'ref':commande.produit.id}) }}"><button> Ajouter à nouveau</button></a>

                        {% endif %}
                    </td>
                    <td>


                    </td>
                </tr>
            {% endfor %}




        {% endfor %}

    {% endfor %}
    </table>
{% endblock %}