{# src/M1/MagAppBundle/Resources/views/Produit/index.html.twig #}

<html><body>
Liste de Produits

{% if is_granted ('IS_AUTHENTICATED_FULLY') %}
    <a href="/logout">Deconnecter</a>

{% else  %}
    <a href="/login">Connecter</a>

{% endif %}

<a href="/MonPanier">Voir Mon Panier</a>

<H1>Votre Panier</H1>
{{ user }}

<h3>Liste de Vos Produit</h3>
<table  cellspacing="50" >
    <tr>


        {% if (Commande == null) %}
            <h5>Commande Vide</h5>
        {% else %}
            <h5>Commande n'est pas Vide</h5>

        {% endif %}

        {% for p in Commande %}

            {{ p.id }}

            <td width="10" height="20">
                {{ p.produit.nom }}

                <a href="detail/{{p.produit.id}}">
                    <img src="http://i2.cdscdn.com/pdt2/3/7/1/1/700x700/del5397063620371/rw/dell-disque-dur-externe-2to-usb-3-0.jpg" height="300" >
                </a>

                {{ p.produit.prix }} euros

            </td>

        {% endfor %}
    </tr>

</table>
</body></html>