
{% extends 'M1MagAppBundle::Produit/base.html.twig' %}

{% block body %}
    <div id="all">

    <div id="content">
    <div class="container">
    <div class="col-md-9" id="checkout">

    <div class="box">

        <form method="post">
            <h1>Etape : Validation</h1>
            <ul class="nav nav-pills nav-justified">
                <li><a href="checkout1.html"><i class="fa fa-map-marker"></i><br>Address</a>
                </li>
                <!--
                <li><a href="checkout2.html"><i class="fa fa-truck"></i><br>Delivery Method</a>
                </li>
                <li><a href="checkout3.html"><i class="fa fa-money"></i><br>Payment Method</a>
                </li>
                -->
                <li class="active"><a href="#"><i class="fa fa-eye"></i><br>Validé</a>
                </li>
            </ul>

            <div class="content">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="2">Product</th>
                            <th>Quantity</th>
                            <th>Unit price</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set nombreProduit=0 %}
                        {% set prixTotal=0 %}

                        {% for commande in commandes %}

                            {% set nombreProduit=nombreProduit+1 %}
                            {% set prixTotal=prixTotal+((commande.quantite)*(commande.produit.prix)) %}
                        <tr>
                            <td>
                                <a href="#">
                                    <img src="{{ asset( commande.produit.image.url ) }}" alt="White Blouse Armani">
                                </a>
                            </td>
                            <td><a href="#">{{ commande.produit.nom }}</a>
                            </td>
                            <td>{{ commande.quantite }}</td>
                            <td>€ {{ commande.produit.prix }}</td>
                            <td>$246.00</td>
                        </tr>
                            {% endfor %}

                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="5">Total</th>
                            <th> €{{ prixTotal }}</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.content -->

            <div class="box-footer">
                <div class="pull-left">
                    <a href="checkout3.html" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to Payment method</a>
                </div>
                <div class="pull-right">

                    <button type="submit" class="btn btn-primary">Valider<i class="fa fa-chevron-right"></i>
                    </button>

                </div>
            </div>
        </form>
    </div>
        <!-- /.box -->

    </div>
        <!-- /.col-md-9 -->

        <div class="col-md-3">

            <div class="box" id="order-summary">
                <div class="box-header">
                    <h3>Adresse</h3>
                </div>
                <p class="text-muted">
                    {{ Adresse.nom }}
                </p>
                <p class="text-muted">

                {{ Adresse.adresse }}
                </p>
                <p class="text-muted">
                    {{ Adresse.ville}},{{ Adresse.codepostal}}
                </p>
                <p class="text-muted">
                    {{ Adresse.pays }}
                </p>



            </div>

        </div>
        <!-- /.col-md-3 -->
    </div>
    </div>
    </div>
   <h1>Validation</h1>


    <table cellpadding="50">
        <th>

        </th>
        <th></th>
        <th>Prix</th>
        <th>Quantite</th>
        {% set nombreProduit=0 %}
        {% set prixTotal=0 %}

        {% for commande in commandes %}
            {% set nombreProduit=nombreProduit+1 %}
            {% set prixTotal=prixTotal+(commande.produit.prix) %}

            <tr>
                <td>    <img src="http://i2.cdscdn.com/pdt2/3/7/1/1/700x700/del5397063620371/rw/dell-disque-dur-externe-2to-usb-3-0.jpg" height="100" >
                </td>
                <td>
                    <h3 style="color: #0000F0">{{ commande.produit.nom }}</h3>
                    <h3>{{ commande.produit.details }}</h3>


                </td>
                <td>

                    <h3 style="color:red"> EUR {{ commande.produit.prix }}</h3>
                </td>
                <td>


                </td>
            </tr>

        {% endfor %}



        </table>


    {% if (commandes != null) %}
        <div style="margin-left: 1100;margin-top: -400;height: 130;width: 230;background-color:#868686">
            <h4> Sous-Total:{{ nombreProduit }}</h4>
            <h3 style="color:red">EUR {{ prixTotal }}</h3>
        </div>

    {% endif %}
    </tr>



    </table>
    <h3>Adresse</h3>

        <h3 style="color: #222222">{{ Adresse.nom }}</h3>

        <h5>{{ Adresse.adresse }}</h5>
        <h5>{{ Adresse.ville}},{{ Adresse.codepostal}}</h5>

        <h5>{{ Adresse.pays }} </h5>


      <form method="post">
          <button type="submit"> Valider</button>
      </form>

{% endblock %}